@model IEnumerable<GEJA_KHC_WEB.ViewModels.CountByServiceViewModel>

<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-info">የአባላት ብዛት በ<b>አገልግሎት ዘርፍ</b> (አሁን እያገለገሉበት ያለው)</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-responsive table-bordered table-condensed hover" style="font-size: medium" id="tblmemberscountbyservice">
            <thead>
                <tr>
                    <th>ቁጥር</th>
                    <th>የአገልግሎት ዘርፍ</th>
                    <th>የአባላት ብዛት</th>
                </tr>
            </thead>
            <tbody>
                @{int totalCount = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Services.ServiceId</td>
                        <td>@item.Services.ServiceName</td>
                        <td>@item.MemberCount</td>
                    </tr>
                    totalCount += item.MemberCount;
                }

            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">የአገልግሎት ዘርፎች ብዛት: <b>@Model.Count()</b> | ጠቅላላ የአባላት ብዛት: <b>@totalCount</b></h3>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblmemberscountbyservice').dataTable({
            paging: true,
            pageLength: 10,
            bLengthChange: true,
            scrollY: 400,
            searching: true,
            oLanguage: {
                sSearch: "<span style='font-size: large'> ፈልግ</span>",
                sLengthMenu: "<span style='font-size: medium'>በ1 ገጽ የሚታዩ መረጃዎች _MENU_ </span>",
                oPaginate: {
                    sNext: "<span style='font-size: large'> ወደ ፊት →</span>",
                    sPrevious: "<span style='font-size: large'> ← ወደ ኋላ</span>"
                },
                sZeroRecords: "<span style='font-size: large'>ያስገቡትን ፊደላት የሚያሟላ መረጃ የለም</span>",
                sEmptyTable: "<span style='font-size: large'>ምንም መረጃ የለም</span>",
                sInfo: "<span style='font-size: medium'>_START_ - _END_ (ጠቅላላ _TOTAL_)</span>",
            },
            select: true,
            dom: 'lBfrtip',
            //order: [[1, "asc"]] // sort by the second column (BridgeNo)
            buttons: [
                { extend: "copy", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ኮፒ አድርግ</span>" },
                { extend: "excel", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ወደ Excel</span>" },
                { extend: "pdf", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ወደ PDF</span>" },
                { extend: "print", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ፕሪንት</span>" }
            ]
        });
    });
</script>