@model IEnumerable<GEJA_KHC_WEB.Models.MemberService>

@{
    ViewBag.Title = "የአባል አገልገሎት";
}

<input type="hidden" id="memberId" value="@TempData["MemberId"]" /> <!-- Member Id -->
<table class="table table-striped table-condensed table-responsive" id="tblMemberService">
    <tr>
        <th></th>
        <th>የአገልግሎት ዓይነት</th>
        <th>አገልግሎት</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var memberService in Model)
    {
        <tr>
            <td>
                <input type="hidden" id="Id" value="@memberService.Id" size="3" /> <!-- Unique Identity (key) -->
            </td>
            <td>
                <span class="service-type" name="@memberService.Id">@GEJA_KHC_WEB.ViewModels.DbViewModel.GetServiceType((int) memberService.ServiceTypeId).ServiceTypeName</span>
            </td>
            <td>
                <span class="service" name="@memberService.Id">@GEJA_KHC_WEB.ViewModels.DbViewModel.GetService((int) memberService.ServiceId).ServiceName</span>
            </td>
            <td>
                <a class="Confirm glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="አረጋግጥ"></a>
            </td>
            <td>
                <a class="Cancel glyphicon glyphicon-remove" href="javascript:;" style="display:none" data-toggle="tooltip" title="ተወው"></a>
                <a class="Delete glyphicon glyphicon-trash" href="javascript:;" data-toggle="tooltip" title="ሰርዝ"></a>
            </td>
        </tr>
    }
</table>


<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <div class="form-group form-group">
                <label for="ddlNewServiceTypeId" class="col-xs-10">የአገልግሎት ዓይነት</label>
                <div class="col-md-10 col-sm-12">
                    @*@Html.DropDownList("ddlNewServiceTypeId", (List<SelectListItem>)ViewBag.ServiceTypeSelectList, new { @class = "form-control" })*@
                    @Html.DropDownList("ddlNewServiceTypeId", (List<SelectListItem>)TempData["ServiceTypeSelectList"], htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <div class="form-group form-group">
                <label for="ddlNewServiceId" class="col-xs-10">አገልግሎት</label>
                <div class="col-md-10 col-sm-12">
                    @*@Html.DropDownList("ddlNewServiceId", (List<SelectListItem>)ViewBag.ServiceSelectList, new { @class = "form-control" })*@
                    @Html.DropDownList("ddlNewServiceId", (List<SelectListItem>)TempData["ServiceSelectList"], htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <div class="form-group form-group">
                <br />
                <button type="button" id="btnAddMemberService" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> ሴቭ አድርግ</button>
            </div>
        </div>
        
        @*@{
            string textColor = "text-success";
            if (ViewBag.StatusMessage.Contains("error"))
            {
                textColor = "text-danger";
            }
        }
        <p id="statusmessage" class="@textColor" style="font-size: 15px">@ViewBag.StatusMessage</p>*@
    </div>
</div>

@*<div id="status"></div>*@

<script type="text/javascript">
    $(document).ready(function () {
        makeServiceTypeEditable();
        makeServiceEditable();

        // A function that makes "ServiceType" editable
        function makeServiceTypeEditable() {
            $(".service-type").each(function () {
                var selServiceTypeId = $(this).attr("name");
                $(this).editable("/Members/UpdateServiceType", {
                    type: "select",
                    loadurl: '/Members/SelectServiceType', // list all service types
                    callback: function (value, settings) {
                        $(this).html(jQuery.parseJSON(settings.data)[value]);
                    },
                    submitdata: function () {
                        return {
                            // Pass parameters to "UpdateServiceType" action in "Member" controller action
                            id: selServiceTypeId, //$(this).attr("name"),
                            origvalue: this.revert,
                        };
                    },
                    before: function () {
                        // clear the status message
                        $('#statusmessage').text("");
                    },
                    onsubmit: function () {
                        if ($('#statusmessage').hasClass("text-danger"))
                            $('#statusmessage').removeClass("text-danger");
                        $('#statusmessage').addClass("text-success");

                        var msg = 'የአገልግሎት ዓይነት ተስተካክሏል';
                        $('#statusmessage').text(msg);
                    },
                    tooltip: 'ለማስተካከል ክሊክ ወይም ነካ ያርጉት...',
                    indicator: 'ሴቭ እየተደረገ ነው...',
                    loadtext: '<i>እየተጫነ ነው...</i>',
                    size: 30
                });
            });
        }

        // A function that makes "Service" editable
        function makeServiceEditable() {
            $(".service").each(function () {
                var selServiceId = $(this).attr("name");
                $(this).editable("/Members/UpdateService", {
                    type: "select",
                    loadurl: '/Members/SelectService', // list all service types
                    callback: function (value, settings) {
                        $(this).html(jQuery.parseJSON(settings.data)[value]);
                    },
                    submitdata: function () {
                        return {
                            // Pass parameters to "UpdateService" action in "Member" controller action
                            id: selServiceId, //$(this).attr("name"),
                            origvalue: this.revert,
                        };
                    },
                    before: function () {
                        // clear the status message
                        $('#statusmessage').text("");
                    },
                    onsubmit: function () {
                        if ($('#statusmessage').hasClass("text-danger"))
                            $('#statusmessage').removeClass("text-danger");
                        $('#statusmessage').addClass("text-success");

                        var msg = 'የአገልግሎት ዓይነት ተስተካክሏል';
                        $('#statusmessage').text(msg);
                    },
                    tooltip: 'ለማስተካከል ክሊክ ወይም ነካ ያርጉት...',
                    indicator: 'ሴቭ እየተደረገ ነው...',
                    loadtext: '<i>እየተጫነ ነው...</i>',
                    size: 30
                });
            });
        }

        //Add new member service
        $("#btnAddMemberService").on("click", function () {
            var MemberId = $("#memberId");
            var ServiceTypeId = $("#ddlNewServiceTypeId");
            var ServiceId = $("#ddlNewServiceId");

            //alert('{MemberId: "' + MemberId.val() + '", ServiceTypeId: ' + ServiceTypeId.val() + ', ServiceId: ' + ServiceId.val() + '}');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddMemberService", "Members")',
                data: '{MemberId: "' + MemberId.val() + '", ServiceTypeId: ' + ServiceTypeId.val() + ', ServiceId: ' + ServiceId.val() + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    //alert("First success: " + MemberId.val());
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetLastMemberService", "Members")',
                        data: { memberid: MemberId.val() },
                        datatype: 'json',
                        success: function (data) {
                            var Id = data.Id;
                            var row = '<tr>';
                            row += '<td><input type="hidden" id="Id" value="' + Id + '" size="3" /></td>';
                            row += '<td><span class="service-type" name="' + Id + '">' + $('#ddlNewServiceTypeId option:selected').text() + '</span></td>';
                            row += '<td><span class="service" name="' + Id + '">' + $('#ddlNewServiceId option:selected').text() + '</span></td>';
                            row += '<td><a class="Confirm glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="Confirm"></a></td>';
                            row += '<td><a class="Cancel glyphicon glyphicon-remove" href="javascript:;" style="display:none" data-toggle="tooltip" title="Cancel"></a>'
                                + '<a class="Delete glyphicon glyphicon-trash" href="javascript:;" data-toggle="tooltip" title="Delete"></a></td>';
                            row += '</tr > ';

                            //alert(row);
                            $("#tblMemberService > tbody").append(row);
                            makeServiceTypeEditable();
                            makeServiceEditable();
                            $('#ddlNewServiceTypeId').val("");
                            $('#ddlNewServiceId').val("");
                        },
                        error: function (xhr) {
                            //$('#status').text(xhr.status);
                            //alert("Second error: " + xhr.status);
                        }
                    });
                },
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                    //alert("First error: " + xhr.status);
                }
            });
        });

        //Cancel Member service
        $("body").on("click", "#tblMemberService .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Delete").show();
            row.find(".Confirm").hide();
            $(this).hide();
        });

        //Delete Member service
        $("body").on("click", "#tblMemberService .Delete", function () {
            var row = $(this).closest("tr");
            row.find(".Confirm").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Confirm Delete Member service
        $("body").on("click", "#tblMemberService .Confirm", function () {
            var row = $(this).closest("tr");
            var id = row.find('#Id').val();
            //alert(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteMemberService", "Members")',
                data: '{Id: "' + id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    if ($("#tblMemberService tr").length > 2) {
                        row.remove();

                    } else {
                        row.find(".Delete").hide();
                        row.find(".Confirm").hide();
                        row.find(".Cancel").hide();
                        row.find("span").html('&nbsp;');
                    }
                },
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                    //alert(xhr.status);
                }
            });
        });
    });
</script>
