@model IEnumerable<GEJA_KHC_WEB.Models.Member>
@using GEJA_KHC_WEB.ViewModels

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-info">በ<b>@ViewBag.GroupName</b> የሚገኙ የአባላት ዝርዝር</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-responsive table-bordered display compact hover" id="tblMemberList">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MemberId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GenderId)
                    </th>
                    <th>
                        ዕድሜ
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MembershipYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MembershipMeansId)
                    </th>
                    <th>
                        የጋብቻ ሁኔታ
                    </th>
                    <th>
                        የትምህርት ደረጃ
                    </th>
                    <th>
                        የትምህርት መስክ
                    </th>
                    <th>
                        የተሰማሩበት የሥራ ዘርፍ
                    </th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th></th>
                    }
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherName)
                        </td>
                        @{
                            var gender = item.Gender;
                        }
                        <td>
                            @if (gender != null)
                            {
                                @gender.GenderName
                            }
                        </td>
                        <td>
                            @{
                                int? age = null;
                                if (item.BirthYear != null)
                                {
                                    age = DateTime.Now.Year - 8 - item.BirthYear; // In Ethiopian calendar
                                }
                                @age
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipYear)
                        </td>

                        @{
                            var means = item.MembershipMeans;
                        }
                        <td>
                            @*@item.MembershipMeans.MembershipMeansName*@
                            @if (means != null)
                            {
                                @means.MembershipMeansName
                            }
                        </td>

                        @{
                            var faminfo = item.FamilyInfo;
                        }
                        <td>
                            @if (faminfo != null)
                            {
                                var status = faminfo.MaritalStatus;
                                if (status != null)
                                {
                                    @status.MaritalStatusName
                                }
                            }
                        </td>

                        @{
                            var educjobinfo = item.EducationAndJobInfo;
                        }

                        @if (educjobinfo != null)
                        {
                            var educlevel = educjobinfo.EducationLevel;
                            var field = educjobinfo.FieldOfStudy;
                            var job = educjobinfo.Job;

                            <td>
                                @if (educlevel != null)
                                {
                                    @educlevel.EducationLevelName
                                }
                            </td>
                            <td>
                                @if (field != null)
                                {
                                    @field.FieldOfStudyName
                                }
                            </td>
                            <td>
                                @if (job != null)
                                {
                                    @job.JobName
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }


                        @if (User.Identity.IsAuthenticated)
                        {
                            <td align="center">
                                <a href="@Url.Action("Index", "Members", new { id = item.MemberId })" target="_blank" class="glyphicon glyphicon-new-window" data-toggle="tooltip" title="ወደ መረጃ ማስተካከያ" style="font-size: 14px"></a>
                            </td>
                        }
                        <td align="center">
                            <a href="@Url.Action("Index", "MemberProfile", new { id = item.MemberId })" target="_blank" class="glyphicon glyphicon-new-window" data-toggle="tooltip" title="ወደ መረጃ ማሳያ" style="font-size: 14px"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">በ<b>@ViewBag.GroupName</b> የሚገኙ ጠቅላላ የአባላት ብዛት: <b>@Model.Count()</b></h3>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblMemberList').dataTable({
            paging: true,
            pageLength: 15,
            bLengthChange: true,
            scrollY: 400,
            searching: true,
            oLanguage: {
                sSearch: "<span style='font-size: large'> ፈልግ</span>",
                sLengthMenu: "<span style='font-size: medium'>በ1 ገጽ የሚታዩ መረጃዎች _MENU_ </span>",
                oPaginate: {
                    sNext: "<span style='font-size: large'> ወደ ፊት →</span>",
                    sPrevious: "<span style='font-size: large'> ← ወደ ኋላ</span>"
                },
                sZeroRecords: "<span style='font-size: large'>ያስገቡትን ፊደላት የሚያሟላ መረጃ የለም</span>",
                sEmptyTable: "<span style='font-size: large'>ምንም መረጃ የለም</span>",
                sInfo: "<span style='font-size: medium'>ከ _START_ እስከ _END_ (ጠቅላላ _TOTAL_ መረጃዎች)</span>",
            },
            select: true,
            dom: 'lBfrtip',
            //order: [[1, "asc"]] // sort by the second column (BridgeNo)
            buttons: [
                { extend: "copy", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ኮፒ አድርግ</span>" },
                { extend: "excel", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ወደ Excel</span>" },
                { extend: "pdf", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ወደ PDF</span>" },
                { extend: "print", className: "btn btn-sm btn-primary", text: "<span style='font-size: medium'>ፕሪንት</span>" }
            ]
        });
    });
</script>

